<div class="footer-cont">
    <div>
        <a href="https://www.twitter.com/distrustserver"><i class="fab fa-twitter"></i></i><span>Distrust on
                Twitter</span></a>
        <a href="https://discord.gg/NNQhFBB" target="_blank"><i class="fab fa-discord"></i></i><span>Join our
                Discord</span></a>
    </div>
</div>