<div class="nav-cont">
    <div class="left">
        <a href="/"><img class="site-logo" src='/images/logo-final.png' /></a>
    </div>
    <div class="right">
        <a href="/rules"><i class="fas fa-clipboard-list"></i><span>RULES</span></a>
        <a><i class="fab fa-steam-symbol"></i><span>LOGIN</span></a>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=distrustservers@gmail.com&lc=US&item_name=
        Donation+to+keep+DistRust+running&no_note=0&cn=&currency_code=USD&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted"
            target="_blank"><i class="fas fa-donate"></i><span>DONATE</span></a>
    </div>
    <div class="right-mobile">
        <a href="javascript:void(0);" class="icon" onclick="openBurger()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
<div id="mobile-nav" class="mobile-nav">
    <a href="/rules"><i class="fas fa-clipboard-list"></i><span>RULES</span></a>
    <a><i class="fab fa-steam-symbol"></i><span>LOGIN</span></a>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=distrustservers@gmail.com&lc=US&item_name=
    Donation+to+keep+DistRust+running&no_note=0&cn=&currency_code=USD&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted"
        target="_blank"><i class="fas fa-donate"></i><span>DONATE</span></a>
</div>
<div class="space-fix"></div>