---
title: Distrust Server - Home
---

<div class="content-cont">
  <div class="content">
    <h2>Server Stats</h2>
    <p id="name">&nbsp;</p>
    <p id="status">&nbsp;</p>
    <p id="uptime">&nbsp;</p>
    <p id="players">&nbsp;</p>
    <p id="address">&nbsp;</p>
    <button class="connect-button" href="steam://connect/45.92.39.41:28025">CONNECT NOW</button>
  </div>
</div>