---
title: Distrust Server - Rules
---

<div class="content-cont">
    <div class="content">
        <h2>Server Rules</h2>
        <ul>
            <li><span class="orange">1</span>&nbsp;&nbsp;Max of 3 players per group.</li>
            <li><span class="orange">2</span>&nbsp;&nbsp;Max of 3 players per base.</li>
            <li><span class="orange">3</span>&nbsp;&nbsp;Max of 3 players on TC & Codes at all times.</li>
            <li><span class="orange">4</span>&nbsp;&nbsp;No allies or slaves allowed.</li>
            <li><span class="orange">5</span>&nbsp;&nbsp;No hacking or use of any cheats.</li>
            <li><span class="orange">6</span>&nbsp;&nbsp;No excessive toxicity or racism of any kind.</li>
            <li><span class="orange">7</span>&nbsp;&nbsp;No hotels allowed (giving a base away is fine).</li>
            <li><span class="orange">8</span>&nbsp;&nbsp;Max of 3 players while roaming or raiding.</li>
            <li><span class="orange">9</span>&nbsp;&nbsp;No advertising.</li>
            <li class="double-digit"><span class="orange">10</span>&nbsp;&nbsp;Do not be toxic to any staff members.
            </li>
        </ul>
    </div>
</div>