---
title: Distrust Server - VIP Packages
---

<div class="content-cont">
    <div class="content">
        <h2>VIP Packages</h2>
        <div class="vip-cont">
            <div class="vip-option">
                <img src='/images/logo-final.png' />
                <p>Solo / Duo / Trio</p>
                <p>30 Day VIP Access</p>
                <p>$7.99</p>
                <button class="buy-button">BUY NOW</button>
            </div>
            <div class="vip-option">
                <img src='/images/logo-final.png' />
                <p>Solo / Duo / Trio</p>
                <p>60 Day VIP Access</p>
                <p>$14.99</p>
                <button class="buy-button">BUY NOW</button>
            </div>
            <div class="vip-option">
                <img src='/images/logo-final.png' />
                <p>Solo / Duo / Trio</p>
                <p>90 Day VIP Access</p>
                <p>$20.99</p>
                <button class="buy-button">BUY NOW</button>
            </div>
        </div>
    </div>
</div>